<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Web Statis Express.js</title>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <h1>Canvas</h1>
    <p> api canvas</p>
    <p>

        <a href="/">Home</a>
        •
        <a href="./api/v1/canvas/beautiful">beautiful</a>
        •
        <a href="./api/v1/canvas/affect">affect</a>
        •
        <a href="./api/v1/canvas/jail">jail</a>
    </p>
</body>
</html>
